html, body {
  height: 100%;
  width: 100%;
  background-color: white;
    /* text-align: center; */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #444444;
    font-weight: normal;
	line-height: 1.5em;
}

.container{
    max-width: 90%;
    margin: auto;
}

h3{
    /* color: #ffb727; */
    font-family: raleway, 'sans-serif';
    text-align: center;
}

a{
    text-decoration: none;
    color: white;
}

a:hover{
    color: #ffb727;
}

.my-form{
	padding: 10px;
    border: 1px solid black;
}

.my-form .form-group{
	padding-bottom: 15px;
}

.my-form label{
	display: block;
}

.my-form input[type="text"]{
	width: 90%;
	padding: 8px;
}

.button{
  padding: 10px 15px;
	background-color: #333;
	color: #fff;
	border: none;
}